{
    "plugins": [
        ["transform-inline-environment-variables", {
            "include": [
                "NODE_ENV",
                "HOST_IP",
                "HOST_ADDRESS",
                "AIR_API",
                "AIR_TOKEN"
            ]
        }]
    ]
}
